[submodule "src/3rdParty/OndselSolver"]
	path = src/3rdParty/OndselSolver
	url = https://github.com/FreeCAD/OndselSolver.git
[submodule "tests/lib"]
	path = tests/lib
	url = https://github.com/google/googletest
[submodule "src/3rdParty/GSL"]
	path = src/3rdParty/GSL
	url = https://github.com/microsoft/GSL
[submodule "src/Mod/AddonManager"]
	path = src/Mod/AddonManager
	url = https://github.com/FreeCAD/AddonManager.git
[submodule "src/Mod/FlowStudio/solver_repos/openfoam"]
	path = src/Mod/FlowStudio/solver_repos/openfoam
	url = https://github.com/OpenFOAM/OpenFOAM-dev.git
[submodule "src/Mod/FlowStudio/solver_repos/elmerfem"]
	path = src/Mod/FlowStudio/solver_repos/elmerfem
	url = https://github.com/ElmerCSC/elmerfem.git
[submodule "src/Mod/FlowStudio/solver_repos/fluidx3d"]
	path = src/Mod/FlowStudio/solver_repos/fluidx3d
	url = https://github.com/ProjectPhysX/FluidX3D.git
[submodule "src/Mod/FlowStudio/solver_repos/raysect"]
	path = src/Mod/FlowStudio/solver_repos/raysect
	url = https://github.com/raysect/source.git
[submodule "src/Mod/FlowStudio/solver_repos/meep"]
	path = src/Mod/FlowStudio/solver_repos/meep
	url = https://github.com/NanoComp/meep.git
[submodule "src/Mod/FlowStudio/solver_repos/openems"]
	path = src/Mod/FlowStudio/solver_repos/openems
	url = https://github.com/thliebig/openEMS.git
[submodule "src/Mod/FlowStudio/solver_repos/optiland"]
	path = src/Mod/FlowStudio/solver_repos/optiland
	url = https://github.com/HarrisonKramer/optiland.git
[submodule "src/Mod/FlowStudio/solver_repos/geant4"]
	path = src/Mod/FlowStudio/solver_repos/geant4
	url = https://github.com/Geant4/geant4.git
